@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

* {
  box-sizing: border-box;
}

.App {
  font-family: 'Hammersmith One', sans-serif;
  height: 100vh;
  color: #fff;
  text-align: center;
  display: grid;
  grid-template-areas:
    "cal profit"
    "cal profit"
    "cal chart"
    "cal options"
    "cal options";
  grid-template-columns: 4fr 2fr;
  grid-template-rows: repeat(5, 1fr);
}

.chart {
  grid-area: chart;
}

.profit {
  grid-area: profit;
  align-self: center;
  letter-spacing: 1px;

  .hasprofit {
    color: #1DA958;
  }

  .haslose {
    color: #D91E36;
  }
}

.options {
  grid-area: options;
  align-self: center;
  display: grid;
  grid-template-areas:
    "bd sd"
    "stocknum add";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  letter-spacing: 1px;

  .icon {
    font-size: 1.8em;
    margin: 0 0.4em;
  }

  input {
    color: #eee;
    background: transparent;
    border: none;
    border-bottom: 1px solid #8482DE;

    &:focus {
      color: black;
      background: #6F9CEB;
    }
  }

  div {
    align-self: flex-end;
  }

  div:first-of-type {
    grid-area: bd;
  }

  div:nth-of-type(2) {
    grid-area: sd;
  }

  div:nth-of-type(3) {
    grid-area: stocknum;
  }

  div:last-of-type {
    grid-area: add;
  }

  input {
    padding: 0em 1em;
    max-width: 6em;
  }
}

.cal {
  grid-area: cal;
  margin: 2em;
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr repeat(5, 2fr);

  .wdays {
    color: #eee;
    letter-spacing: 1px;
    background: linear-gradient(to bottom, #6F9CEB, #8482DE);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stockdate {
    border: 1px solid rgba(0, 0, 0, .5);
    border-left: 0;
    border-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      "date price"
      "delete delete";

    .stprice {
      color: aquamarine;

      input {
        color: #eee;
        background: #272D2D;
        border: none;
        max-width: 1.8em;
      }
    }

    &:nth-of-type(7n) {
      border-right: 0;
    }

    span {
      align-self: center;
    }

    & span:first-of-type {
      grid-area: date;
      font-size: 1.4em;
    }

    & span:nth-of-type(2) {
      grid-area: price;
    }

    & span:last-of-type {
      grid-area: delete;
      place-content: stretch;
    }

    &:hover {
      border-radius: 0.2em;
      background: #e5e5e5;
      color: #272D2D;
      transition: all 0.3s ease-in-out;
      box-shadow: 1px 1px 2px 0 #8482DE, -2px -2px 2px 0 #8482DE;
      transform: scale(1.2);

      .stprice {
        color: #1DA958;
      }
    }

    .icon {
      font-size: 1.4em;
      color: #272D2D;
    }
  }
}

.btnadd {
  .icon:hover {
    color: #1DA958;
  }
}

.btndel {
  .icon:hover {
    color: #D91E36;
  }
}

@media screen and (max-width:980px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-areas:
      "profit"
      "chart"
      "cal"
      "options";
  }
}